@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "./text.css";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

body {
  /* color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif; */
}

/* Ocultar las flechas por defecto de Swiper */
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

/* Ajuste de estilo para las flechas */
.custom-prev,
.custom-next {
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}

.custom-prev:hover,
.custom-next:hover {
  background-color: #d83f50;
  color: white;
  opacity: 1;
}

/* Ajustar la separación de las flechas */
.custom-prev {
  left: -30px;
}

.custom-next {
  right: -30px;
}
